<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="2" title="">Accueil</a></li>
				<li><a href="/chapitres" accesskey="3" title="">Chapitres</a></li>
				<li><a href="/personnages" accesskey="4" title="">Personnages</a></li>
				<li><a href="/graphe" accesskey="5" title="">Graphe</a></li>
			</ul>
		</div>
	</div>
</div>