<!DOCTYPE html>
<html lang="fr">
<head>
  {{> link}}
</head>

<body>
  {{{ body }}}
  
<!-- Now we include  our actual visualization -->
<script src="/javascripts/bubbles.js"></script>
</body>
</html>
